Repository thasegawadesign/hasegawatatsuya.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix ., prettier --write ., stylelint --fix

.lintstagedrc.json:

{
  "!(*.ts)": "prettier --write .",
  "*.{ts, tsx}": ["eslint --fix .", "prettier --write ."],
  "*.{css,scss,sass}": ["stylelint --fix"]
}

docs: clarify copy (scroll wheel -> mouse wheel)
  src/app/experimental/vision-scroll-snap/works.tsx
Due: none

chore(ci): add typecheck and use prettier --check
  .github/workflows/lint.yml
  package.json
Due: none

chore(lint): tighten CI linting and lint Vanilla Extract .css.ts via ESLint
  .eslintrc.json
  .github/workflows/lint.yml
  .lintstagedrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/layout.css.ts
  src/components/audio/audioPlayer.css.ts
  src/components/backToIndex/backToIndex.css.ts
  src/components/blackHole/blackHole.css.ts
  src/components/experimental/worksInfo.css.ts
  src/components/footer/footer.css.ts
  src/components/glass/glass.css.ts
  src/components/hamburgerMenu/hamburgerMenu.css.ts
  src/components/main/about/main.css.ts
  src/components/main/home/main.css.ts
  src/components/mobileNav/mobileNav.css.ts
  src/components/nav/nav.css.ts
  src/components/object/object1.css.ts
  src/components/object/object2.css.ts
  src/components/object/object3.css.ts
  src/components/particleEffect/particleEffect.css.ts
  src/components/spiral/spiral.css.ts
  src/components/textCircle/textCircle.css.ts
  src/components/tooltip/tooltip.css.ts
  src/components/works/worksInfo.css.ts
Due: eslint --fix ., prettier --write .

chore(deps): update packages
  package.json
  pnpm-lock.yaml
Due: none

feat(sfx): add click/success SFX with haptic feedback
  src/app/api/sfx/click/route.ts
  src/app/api/sfx/success/route.ts
  src/components/audio/audioPlayer.tsx
  src/components/backToIndex/backToIndex.tsx
  src/components/experimental/worksInfo.tsx
  src/components/hamburgerMenu/hamburgerMenu.tsx
  src/components/main/about/main.tsx
  src/components/main/home/main.tsx
  src/components/mobileNav/mobileNav.tsx
  src/components/nav/nav.tsx
  src/components/works/worksInfo.tsx
  src/lib/getAudioInstance.ts
  src/lib/playSfx.ts
Due: eslint --fix ., prettier --write .

fix(sfx): throttle email copy success sound
  src/components/main/about/main.tsx
  src/components/main/home/main.tsx
  src/lib/playSfx.ts
Due: eslint --fix ., prettier --write .

fix(audio): serve say-something.mp3 from private blob
  src/app/api/audio/route.ts
Due: eslint --fix ., prettier --write .

fix(ui): align content to left/right edges on mobile
  src/components/main/about/main.css.ts
  src/components/main/home/main.css.ts
  src/components/main/home/main.tsx
Due: eslint --fix ., prettier --write .

fix(about): increase occupation heading weight and rebalance responsive size
  src/app/fonts.ts
  src/components/main/about/main.css.ts
Due: eslint --fix ., prettier --write .

fix: align profileLinkBox to the right edge on sm screens
  src/components/main/home/main.css.ts
Due: eslint --fix ., prettier --write .

fix(home): adjust mobile profile spacing and image alignment
  src/components/main/home/main.css.ts
Due: eslint --fix ., prettier --write .

fix(ui): remove photo view-transition-name and add responsive image sizes
  src/components/main/about/main.tsx
  src/components/main/home/main.tsx
Due: none

feat(home): rename Experimental to Playgrounds and add section nav links
  src/app/playgrounds/about-section-diagonal-energy/page.tsx
  src/app/playgrounds/about-section-diagonal-energy/works.tsx
  src/app/playgrounds/customer-voice-carousel-prototype/page.tsx
  src/app/playgrounds/customer-voice-carousel-prototype/works.tsx
  src/app/playgrounds/editorial-hero-prototype/page.tsx
  src/app/playgrounds/editorial-hero-prototype/works.tsx
  src/app/playgrounds/nextjs-splide-carousel/page.tsx
  src/app/playgrounds/nextjs-splide-carousel/works.tsx
  src/app/playgrounds/vision-scroll-snap/page.tsx
  src/app/playgrounds/vision-scroll-snap/works.tsx
  src/components/main/home/main.tsx
  src/components/mobileNav/mobileNav.tsx
  src/components/nav/nav.tsx
Due: none

refactor: consolidate duplicated GSAP link animations in MobileNav
  src/components/mobileNav/mobileNav.tsx
Due: none

chore: remove unused vercel ignored build step script
  vercel-ignore-build-step.sh
Due: none

chore: update open graph image
  src/app/opengraph-image.jpg
Due: none

fix(home): update works links from experimental to playground routes
  src/components/main/home/main.tsx
Due: none

feat(home): add moire playground work item
  public/images/icons/moire-playground-icon.avif
  src/components/main/home/main.tsx
Due: none

feat(about): add magic card–style animated gradient frame to profile photo
  src/components/main/about/main.css.ts
  src/components/main/about/main.tsx
  src/components/main/about/photo-magic.css
Due: eslint --fix ., prettier --write ., stylelint --fix

refactor(about): merge photo magic CSS into main.css.ts
  src/components/main/about/main.css.ts
  src/components/main/about/main.tsx
  src/components/main/about/photo-magic.css
Due: eslint --fix ., prettier --write ., stylelint --fix

fix(about): fix iOS Safari rendering glitch on Magic Card photo frame
  src/components/main/about/main.css.ts
Due: eslint --fix ., prettier --write .

style(about): tune photoMagic padding and pseudo-element radius at sm
  src/components/main/about/main.css.ts
Due: eslint --fix ., prettier --write .

style(about): use blue gradient for English name
  src/components/main/about/main.css.ts
Due: eslint --fix ., prettier --write .

fix(spiral): align SSR and first client render width to fix hydration mismatch
  src/components/spiral/spiral.tsx
Due: none

feat: add confetti fireworks on successful email copy
  package.json
  pnpm-lock.yaml
  src/components/main/about/main.tsx
  src/components/main/home/main.tsx
  src/lib/fireworksConfetti.ts
Due: eslint --fix ., prettier --write .

About: remove sm overrides for photoMagic frame; tighten padding and radius
  src/components/main/about/main.css.ts
Due: eslint --fix ., prettier --write .

chore(deps): bump @vercel/blob and lenis
  package.json
  pnpm-lock.yaml
Due: none

style(about): strengthen the magical glow around the profile photo
  src/components/main/about/main.css.ts
Due: eslint --fix ., prettier --write .

fix(about): use serif fallbacks for Japanese name to prevent gothic flash
  src/app/fonts.ts
  src/components/main/about/main.tsx
Due: eslint --fix ., prettier --write .

fix(about): align photo frame fill with page base color
  src/components/main/about/main.css.ts
Due: eslint --fix ., prettier --write .

refactor(about,home): rename email click event param to ev
  src/components/main/about/main.tsx
  src/components/main/home/main.tsx
Due: none

feat: add liquid shader background
  src/app/layout.tsx
  src/components/liquidShaderBackground/liquidShaderBackground.css.ts
  src/components/liquidShaderBackground/liquidShaderBackground.tsx
  src/components/liquidShaderBackground/liquidShaderGlsl.ts
  src/components/liquidShaderBackground/liquidShaderWgsl.ts
  src/components/main/about/main.css.ts
  src/components/object/object1.css.ts
  src/components/object/object2.css.ts
  src/components/object/object3.css.ts
Due: eslint --fix ., prettier --write .

style: align floating object orb gradient opacity
  src/components/object/object1.css.ts
  src/components/object/object2.css.ts
  src/components/object/object3.css.ts
Due: eslint --fix ., prettier --write .

feat(ui): brand color in shader and photo treatment
  src/components/liquidShaderBackground/liquidShaderGlsl.ts
  src/components/liquidShaderBackground/liquidShaderWgsl.ts
  src/components/main/about/main.css.ts
  src/components/main/home/main.css.ts
  src/components/object/object1.css.ts
  src/components/object/object2.css.ts
  src/components/object/object3.css.ts
Due: eslint --fix ., prettier --write .

feat(liquid-shader): blend brand orange #f70 into highlights and specular
  src/components/liquidShaderBackground/liquidShaderGlsl.ts
  src/components/liquidShaderBackground/liquidShaderWgsl.ts
Due: eslint --fix ., prettier --write .

style(object): tweak gradient colors for object1–3
  src/components/object/object1.css.ts
  src/components/object/object2.css.ts
  src/components/object/object3.css.ts
Due: eslint --fix ., prettier --write .

feat(liquid-shader): darken shadows and blend #96043B in low luminance
  src/components/liquidShaderBackground/liquidShaderGlsl.ts
  src/components/liquidShaderBackground/liquidShaderWgsl.ts
Due: eslint --fix ., prettier --write .

style: brighten profile photos with filter; drop white overlay pseudo-elements
  src/components/main/about/main.css.ts
  src/components/main/home/main.css.ts
Due: eslint --fix ., prettier --write .
