Repository thasegawadesign/hasegawatatsuya.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix ., prettier --write ., stylelint --fix

.lintstagedrc.json:

{
  "!(*.ts)": "prettier --write .",
  "*.{ts, tsx}": ["eslint --fix .", "prettier --write ."],
  "*.{css,scss,sass}": ["stylelint --fix"]
}

docs: add core values
  README.md
Due: none

docs: adjust line breaks for readability in value section
  src/components/main/about/main.tsx
Due: none

docs: refine core value wording
  README.md
  src/components/main/about/main.tsx
Due: none

docs: refine core value
  README.md
  src/components/main/about/main.tsx
Due: none

fix: add fallback for environments without WebGL support
  src/components/particleEffect/particleEffect.tsx
Due: none

feat: add certifications section
  src/components/main/about/main.css.ts
  src/components/main/about/main.tsx
Due: eslint --fix ., prettier --write .

fix: remove default list markers
  src/components/main/home/main.tsx
  src/styles/reset.css
Due: stylelint --fix

chore: configure CSP headers
  next.config.mjs
Due: none

fix: update CSP headers for nonce support
  src/app/layout.tsx
  src/middleware.ts
Due: eslint --fix ., prettier --write .

fix: resolve CSP conflict
  next.config.mjs
  src/app/layout.tsx
  src/middleware.ts
Due: eslint --fix ., prettier --write .

fix: rollback CSP headers temporarily
  src/app/layout.tsx
  src/middleware.ts
Due: eslint --fix ., prettier --write .

fix: add CSP frame-ancestors to prevent clickjacking
  next.config.mjs
Due: none

fix: update metadata title
  src/app/works/fleur/page.tsx
  src/app/works/playlist2025/page.tsx
  src/app/works/tomosho-unyu/page.tsx
  src/app/works/univearth/page.tsx
  src/constants/constants.ts
Due: eslint --fix ., prettier --write .

perf: preload work thumbnails
  src/components/main/home/main.tsx
  src/utils/preloadNextPageMainVisual.ts
Due: eslint --fix ., prettier --write .

fix: wrap email with address element
  src/components/main/home/main.css.ts
  src/components/main/home/main.tsx
Due: eslint --fix ., prettier --write .

fix: refine portfolio profile and goal statement
  README.md
  src/components/main/about/main.tsx
Due: none

fix: refine role description in portfolio
  README.md
  src/components/main/about/main.tsx
Due: none

fix: refine personal role statement
  README.md
  src/components/main/about/main.tsx
Due: none

docs: refine works descriptions
  src/app/works/fleur/works.tsx
  src/app/works/playlist2025/works.tsx
  src/app/works/tomosho-unyu/works.tsx
  src/app/works/univearth/works.tsx
Due: none

docs: refine works descriptions
  src/app/works/playlist2025/works.tsx
Due: none

docs: clarify integrated design and development value
  src/components/main/about/main.tsx
Due: none

docs: refine production approach
  src/components/main/about/main.tsx
Due: none

docs: refine production approach
  README.md
Due: none

docs: refine production approach
  README.md
  src/components/main/about/main.tsx
Due: none

fix: update copyright year automatically
  src/components/footer/footer.tsx
Due: none

docs: refine work approach
  README.md
  src/components/main/about/main.tsx
Due: none

fix: refine meta description
  src/app/layout.tsx
Due: none

refine portfolio message with future-oriented perspective
  README.md
  src/components/main/about/main.tsx
Due: none

docs: refine portfolio wording for future vision
  README.md
  src/components/main/about/main.tsx
Due: none

chore: upgrade next to fix vulnerability
  package-lock.json
  package.json
  tsconfig.json
Due: none

chore: replace deprecated next lint with eslint
  package-lock.json
  package.json
Due: none

docs: prune portfolio philosophy
  README.md
  src/components/main/about/main.tsx
Due: none

docs: refine portfolio philosophy
  README.md
  src/components/main/about/main.tsx
Due: none

docs: refine portfolio philosophy
  README.md
Due: none
